<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="List of best restaurant">

  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="./images/logo/favicon.png">
  <link rel="icon" href="./images/logo/favicon.png" type="image/x-icon">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <button id="skip-link">Skip to Content</button>
  <header class="app-bar">
    <div class="app-bar__title">
      <h2><a href="/">Restaurant App</a></h2>
    </div>
    <nav id="drawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/dimasalfiansyah/" target="_blank" rel="noopener">About Us</a></li>
      </ul>
    </nav>
    <div class="app-bar__hamburger">
      <button id="hamburger">☰</button>
    </div>
  </header>
  <div class="hero">
    <picture>
        <!-- 480px resolution image -->
      <source media="(max-width: 600px)" type="image/webp" srcset="./images/heros/hero-image_2-small.webp">
      <source media="(max-width: 600px)" type="image/jpeg" srcset="./images/heros/hero-image_2-small.jpg">

      <!-- 800px resolution image -->
      <source media="(min-width: 601px) and (max-width: 1000px)" type="image/webp" srcset="./images/heros/hero-image_2-medium.webp">
      <source media="(min-width: 601px) and (max-width: 1000px)" type="image/jpeg" srcset="./images/heros/hero-image_2-medium.jpg">

      <!-- 1000px resolution image -->
      <source media="(min-width: 1001px)" type="image/webp" srcset="./images/heros/hero-image_2-large.webp">
      <source media="(min-width: 1001px)" type="image/jpeg" srcset="./images/heros/hero-image_2-large.jpg">
      <img src="./images/heros/hero-image_2.jpg" alt="" class="hero__image">
    </picture>
    <div class="hero__inner">
      <h1 class="hero__title">The Best Restaurant from Sabang to Merauke</h1>
      <p class="hero__tagline">Let's enjoy the <span class="hero__underline">wonderful food</span> from our selected <span class="hero__selected">best restaurant</span></p>
    </div>
  </div>
  <main id="main">
    <section class="content" id="content">
      
      <article class="content__headline">
        <div class="headline__tagline">
          <h2 class="headline-tagline__title">Discover. Eat. Give a Star!</h2>
          <h3 class="headline-tagline__description">We live for the good food, We come for the good food, We are here for the good restaurants!</h3>
        </div>
        <div class="headline__description">
          <p>We are formed from foodies who want to taste a good food, with our desire, we travel all over the country to visit the best restaurants</p>
          <p>And now, we have made our list of the best restaurants for you, the foodies like us!</p>
          <p class="headline-description__recommendation">Did you have recommendation? <button id="recommendation-button"> let's dig in! </button></p>
        </div>
      </article>
      
      <section class="content__utils">
        <div class="search__box">
          <form>
            <input type="text" name="search" id="search__input" placeholder="search by name, category, or menu" title="search your favorite restaurant here">
            <input type="submit" id="search__button" title="search button" value="">
          </form>
      </div>
      <div class="posts-button">
        <button title="button for make content as column" class="data" data-view="column" id="columnButton"></button>
        <button title="button for make content as list" class="data" data-view="list" id="listButton"></button>
      </div>
      </section>
      
      <div id="content__item" tabindex="0">
      </div>
    </section>
  </main>
  <footer id="footeree">
    <section class="footer__info">
      <div class="footer-info__logo">
        <picture>
          <source srcset="./images/logo/logo.webp" type="image/webp">
          <source srcset="./images/logo/logo.png" type="image/png">
          <img src="./images/logo/logo.png" alt="Restaurant Apps Logo" class="footer-logo">
        </picture>
      </div>
      <div class="footer-info__description">
        <p>Restaurant Apps</p>
        <p class="footer-info__address">East Jakarta, DKI Jakarta Indonesia</p>
      </div>
    </section>
    <section class="footer__tagline">
      <div class="footer-tagline__title">
       <h2>Discover.</h2>
       <h2>Eat.</h2>
       <h2 class="footer-tagline__star">Give a Star!</h2>
      </div>
      <a href="https://www.linkedin.com/in/dimasalfiansyah/" target="_blank" rel="noopener" class="footer-tagline__about">About us</a>
    </section>
    <section class="footer__powerup">
      <div class="footer-powerup__title">
        <p>This project brought to life by</p>
      </div>
      <div class="footer-powerup__description">
        <img class="dicoding-logo" src="https://dicoding-web-img.sgp1.cdn.digitaloceanspaces.com/original/commons/certificate_logo.png" alt="Dicoding Logo">
        <p class="powerup-description__about">learn more about <a href="https://www.dicoding.com/" target="_blank" rel="noopener" class="powerup-description__dicoding">dicoding.</a></p>
      </div>
    </section>
    <section class="footer__copyright">
      <div class="footer-copyright__title">
        &copy; 2023 Dimas Alfiansyah
      </div>
    </section>
  </footer>
</body>
</html>
