<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <nav id="drawer" class="nav">
    <p class="nav__title">Restaurant Apps</p>
    <a href="#" id="hamburger">☰</a>
    <ul class="nav__list">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/dimasalfiansyah/" target="_blank" rel="noopener">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">The Best Restaurant from Sabang to Merauke</h1>
      <p class="hero__tagline">Let's enjoy the <span class="hero__underline">wonderful food</span> from our selected <span class="hero__selected">best restaurant</span></p>
    </div>
  </div>
  <main>
    <section class="content">
      <article class="content__title">
        <h2>List of Our Selection of the Best Restaurants</h2>
        <p>Our selection is based on our survey of the restaurants you voted for us</p>
      </article>
      <div class="posts-button">
        <button title="button for make content as column" class="data active" data-view="column" id="columnButton"></button>
        <button title="button for make content as list" class="data" data-view="list" id="listButton"></button>
      </div>
      <div class="posts" id="posts">
        <!-- <article class="posts-list-item">
          <img src="https://restaurant-api.dicoding.dev/images/medium/45" alt="gambar restoran" class="post-list-thumbnail">
          <div class="post-list-content">
            <p class="post-list-content__rating">Rating: 4.0</p>
            <h2 class="post-list-content__title">Nama restoran</h2>
            <p class="post-list-content__description" id="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis deserunt, eos eveniet alias tempore voluptatibus optio quia sunt officiis sed doloremque sit, ut velit, facere dicta? Earum, doloremque unde.</p>
            <p class="post-list-content__city">City: Jakarta</p>
          </div>

        </article> -->
      </div>
    </section>
  </main>
</body>
</html>
