@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading{
  width: 100%;
  height: 1000px;
  background-color: red;
  z-index: 99;
}
img {
  display: block;
}

#skip-link{
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: #CCD6A6;
  border: 1px solid black;
  cursor: pointer;
  top: -50px;
  left: 10px;
  z-index: 100;
  color: black;
  padding: 15px;
  text-align: center;
}
#skip-link:focus{
  top: 10px;
}

.app-bar{
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar__hamburger{
  display: flex;
  align-items: center;
}

.app-bar__hamburger button{
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
.app-bar__title{
  display: flex;
  align-items: center;
}
.app-bar__title h2 {
  -webkit-user-select: none;
  user-select: none;
}
.app-bar .app-bar__navigation {
  position: absolute;
  width: 250px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
  left: -250px;
  top: 40px;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}
.app-bar__navigation.open{
  transform: translate(0);
}

/* Jumbotron */

.hero{
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-color: #F2DEBA;
  background-repeat: no-repeat;
}

.hero__inner{
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-size: 0.8em;
}
.hero__title::after{
  content: '';
  display: block;
  border-bottom: 2px solid #E0DECA;
}
.hero__tagline{
  font-weight: 500;
  color: white;
  font-size: 1.2em;
}
.hero__selected{
  background-color: rgba(200, 92, 92, 0.8);
  font-style: italic;
}
.hero__underline{
  text-decoration: underline;
  font-family: 'Lobster';
  font-size: 1.2em;
  color: #fff768;
}

/* content */

.content{
  padding: 24px;
}

/* headline */

.content__headline{
  width: 100%;
  padding: 24px;
  background-color: #FDEEDC;
}
.headline__tagline{
  text-align: center;
  padding: 10px;
}
.headline-tagline__title{
  font-size: 2.5em;
  font-family: 'Crimson Text', serif;
}
.headline-tagline__title::after{
  content: '';
  background-image: url(../public/images/icons/shooting-star.svg);
  transform: scaleY(-1);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  width: 100px;
  height: 100px;
}
.headline-tagline__description{
  font-size: 1.5em;
  font-style: italic;
}
.headline__description{
  font-size: 1.1em;
}
.headline-description__recommendation{
  padding-top: 20px;
  font-size: 0.7em;
}
#recommendation-button{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-style: italic;
  font-size: 1em;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
}
/* data-view button */
.posts-button{
  background-color: lightgray;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 20px 0 auto auto;
}
#listButton{
  background-image: url(../public/images/icons/list.svg);
  background-size: contain;
  min-width: 44px;
  min-height: 44px;
  background-color: #f1f1f1;
  content: '';
}
#columnButton{
  background-image: url(../public/images/icons/column.svg);
  background-size: contain;
  min-width: 44px;
  min-height: 44px;
  background-color: #f1f1f1;
  content: '';
}
.data{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 0.5em;
}
.active{
  background-color: rgb(168, 168, 168) !important;
  box-shadow: none;
}
/* article */
.content__title{
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

/* posts */

.posts{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto auto -32px;
  text-align: left;
}

/* post-item */

.posts-column-item{
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* post column style */
.post-column-thumbnail{
  background-image: url(https://restaurant-api.dicoding.dev/images/medium/41);
  width: 100%;
  min-height: 200px;
  padding: 5px;
  background-position: center;
}
.post-column-thumbnail__rating{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px 5px;
  border-radius: 100px;
  width: -moz-fit-content;
  width: fit-content;
}
.post-column-thumbnail__rating-value{
  text-align: center;
}
.post-column-thumbnail__rating-icon{
  width: 24px;
}
.post-column-content{
  padding: 16px 32px 32px 32px;
}
.post-column-content__title{
  font-size: 24px;
  margin-top: 16px;
  transition: 0.3s opacity;
}
.post-column-content__description{
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5em;
}
.post-column-content__city{
  margin-top: 16px;
  font-size: 18px;
  font-weight: 1000;
  line-height: 1.5em;
}

/* post list style */

.posts-list-item{
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  max-height: 380px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr 3fr);
  gap: 5px;
}


.post-list-thumbnail{
    max-width: 120px;
}

.post-list-content{
  width: 100%;
  padding: 5px;
}
.post-list-content__title{
  padding-top: 5px;
  font-size: 1em;
}
.post-list-content__rating{
  font-size: 0.8em;
}
.post-list-content__description{
  font-size: 0.6em;
}
.post-list-content__city{
  padding-top: 5px;
  font-weight: 800;
  font-size: 0.8em;
}

.readmore-button{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: blue;
  font-size: 0.9em;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}

/* footer */

footer{
  background-color: #F1A661;
  padding: 24px 24px 0 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  color: white;
}
footer section:nth-child(3){
  padding-top: 5px;
  border-top: 1px solid lightgray;
}
.footer__info{
  padding: 5px;
  font-size: 18px;
}
.footer-logo{
  width: 120px;
  background-color: white;
  padding: 10px;
  border-radius: 100px;
  margin: 0;
}
.footer-info__address{
  font-size: 14px;
}
.footer__tagline{
  margin: 0;
}
.footer-tagline__title{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
}
.footer-tagline__star::after{
  content: '';
  background-image: url(../public/images/icons/shooting-star-white.svg);
  transform: scaleY(-1);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  width: 100px;
  height: 100px;
}
.footer-tagline__about{
  color: white;
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
}
.footer-tagline__about:hover{
  text-decoration: underline;
}
.footer-powerup__description{
  padding-top: 5px;
}
.powerup-description__about{
  font-size: 0.9em;
}
.powerup-description__dicoding{
  color: white;
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
}
.powerup-description__dicoding:hover{
  text-decoration: underline;
}
.footer__copyright{
  text-align: center;
}
.footer__copyright::before{
  border-top: 1px solid white;
  content: '';
  display: block;
  padding-bottom: 5px;
}