
@media screen and (min-width: 480px) and (max-width: 670px) {
    .post-list-thumbnail{
        max-width: 150px;
    }
    .hero__inner{
        font-size: 0.8em;
    }
    .hero__tagline{
        font-size: 0.7em;
    }
    .hero__underline{
        font-size: 0.7em;
    }
}
@media screen and (min-width: 680px) and (max-width: 770px) {
    .post-list-thumbnail{
        max-width: 200px;
    }
    .hero__inner{
        font-size: 1em;
    }
    .hero__tagline{
        font-size: 0.8em;
    }
    .hero__underline{
        font-size: 0.8em;
    }
}
@media screen and (min-width: 780px) and (max-width: 990px) {
    .hero__inner{
        font-size: 1.2em;
    }
    .hero__tagline{
        font-size: 1em;
    }
    .hero__underline{
        font-size: 1em;
    }
}
@media screen and (min-width: 1000px) {
    .posts{
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .hero__inner{
        font-size: 1.5em;
    }
    .hero__tagline{
        font-size: 1.2em;
    }
    .hero__underline{
        font-size: 1.2em;
    }
    .posts-button{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .post-list-thumbnail{
        max-width: 120px;
        margin: 0 auto;
    }
    .post-list-content__rating{
        font-size: 10px;
    }
    .post-list-content__title{
        font-size: 14px;
    }
    .post-list-content__description{
        font-size: 12px;
    }
    .post-list-content__city{
        font-size: 12px;
    }
    .hero__inner{
        font-size: 0.8em;
    }
    .hero__tagline{
        font-size: 0.7em;
    }
    .hero__underline{
        font-size: 0.7em;
    }
}
@media screen and (max-width: 500px) {
    .nav__list{
        grid-template-columns: repeat(1, 1fr);
        position: absolute;
        background-color: white;
        transform: translate(500px, 50px);
        transition: transform 0.3s ease-in-out;
    }
    #hamburger{
        display: block;
    }
}
@media screen and (max-width: 700px){
    footer{
        grid-template-columns: repeat(1, 1fr);
    }
    footer section{
        padding-bottom: 20px;
    }
    footer section:nth-child(1){
        border-bottom: 1px solid lightgray;
    }
    footer section:nth-child(3){
        padding-top: 5px;
        border-top: 1px solid lightgray;
    }
    .footer-logo{
        margin: 0;
    }
    .footer__tagline{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        margin: 0;
        padding-bottom: 5px;
      }
    .footer__copyright{
        grid-column-start: 1;
        grid-column-end: 1;
    }
}